body {
    background-color: #222;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#instructions {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 10px;
}

#score {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

canvas {
    display: block;
    background: url('assets/background.jpg') no-repeat center center/cover;
    border: 2px solid white;
    cursor: url('assets/cursor.png') 16 16, auto;
}
